# rewrites /css/v:0.0.0/css.js to /css/css.js this allows us to cache
# resources aggressively without hurting proxies 
<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteRule (v:[0-9]{1,4}\.[0-9]{1,4}\.[0-9]{1,4}/)(([\w'-._0-9])*)$ /css/$2 [NC]
</IfModule>