/* Screens are not big enough to account for floats
   and as much contrast as possible */
* { float: none; background: #fff; color: #000; }

/* Slightly reducing font size to reduce need to scroll */
body { font-size: 80%; }