/* 
  reset.css contains both a reset and some base styles.
*/

/* 
  html5doctor.com Reset Stylesheet
  v1.4 2009-07-27
  http://html5doctor.com/html-5-reset-stylesheet/
  Author: Richard Clark - http://richclarkdesign.com
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, 
hgroup, menu, nav, section, menu,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

body { line-height:1; }

article, aside, dialog, figure, footer, header, 
hgroup, nav, section { display:block; }

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; border:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000;	font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }

table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0;	border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }


/*
fonts.css from the YUI Library: http://developer.yahoo.com/yui/
refer to http://developer.yahoo.com/yui/fonts/ for font sizing
*/
body { font:13px arial,helvetica,clean,sans-serif; *font-size:small; *font:x-small; }

table { font-size:inherit; font:100%; }

select, input, textarea { font:99% arial,helvetica,clean,sans-serif; }

pre, code { font:115% monospace; *font-size:100%; }

body * { line-height:1.22em; }
 

/* always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* make buttons play nice in IE: http://www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }
 

/* bicubic resizing for non-native sized IMG: http://code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }



/* styling the basics.  
   original author: paul irish
   TODO: consider: http://developer.yahoo.com/yui/base/ */
 
body, select, input, textarea { color:#444; /* looks better than black: http://twitter.com/H_FJ/statuses/11800719859 */ }
 
strong, th, h1,h2,h3,h4,h5,h6 { font-weight: bold; }
 
h5 { font-size:85%; margin:8px 0 1px; }
h4 { font-size:92%; margin:10px 0 2px; } 
h3 { font-size:107%; margin:13px 0 3px; } 
h2 { font-size:122%; margin:15px 0 3px; }
h1 { font-size:136%; margin:0 0 10px; } 
 
p { margin:15px 0 10px; }
 
a, a:active { color:#607890; }
a:visited  { color:#607890; }
a:hover { color:#036; }
 
ul { margin-left:30px; }
ol { margin-left:30px; list-style-type: decimal; }

small { font-size:85%; }

td { vertical-align:top; }
td img { vertical-align:top; }

/* for image replacement */
.ir { display:block; text-indent:-999px; overflow:hidden; background-repeat: none; }

.hidden { display:none; visibility:hidden; } /* Hide for both screenreaders and browsers */
.visuallyhidden { position:absolute; left:-10000px; top:auto; width:1px; height:1px; overflow:hidden; } /* Hide only visually, but have it available for screenreaders http://www.webaim.org/techniques/css/invisiblecontent/ */
.invisible { visibility: hidden; }

/* 
	===================================
	>> CSS BUG HACKS <<
	===================================
*/
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */