/* =============================================================================
   Headings, fonts, other global stuff
   ========================================================================== */

body, select, input, button, textarea {
    color: #333;
    font: normal 13px/1.4em Arial, sans-serif;
}

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection { background: #fe57a1; color:#fff; text-shadow: none; }
::selection { background:#fe57a1; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #fe57a1; } /* j.mp/webkit-tap-highlight-color */

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6, nav, b, strong, th, strong {
	font-weight: bold;
}

/* =============================================================================
   Links, Inputs
   ========================================================================== */

/* Default link styles */
a, a:active, a:visited {
    color: #f3d915;
    text-decoration: none;
}
a:hover {
    color: #cbcbcb;
}

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0 0 5px red; -webkit-box-shadow: 0 0 5px red; box-shadow: 0 0 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

/* =============================================================================
   Primary styles
   Author: 
   ========================================================================== */



























/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }
.cf { zoom: 1; }

/* Clearing floats */
.cb { clear: both; }

/* floating elements */
.fl { float: left; }
.fr { float: right; }

/* Fake span blocks etc */
.eblock { display: block; }
.iblock { display: inline-block; }

/* Quick triggering if positioning context */
.rblock { display: block; position: relative; }
.riblock { display: inline-block; position: relative; }

/*
 * Triggering hardware acceleration for smooth animations.
 * Translate3d works better on iOS devices
 */
.trigger3D {
	-webkit-transform: translate3d(0,0,0);
		-moz-transform: translate3d(0,0,0);
		  -ms-transform: translate3d(0,0,0);
			 -o-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);
}

/* prevent callout */
.nocallout { -webkit-touch-callout: none; }

/* Text overflow with ellipsis */
.ellipsis { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }

/* A hack for HTML5 contenteditable attribute on mobile */
textarea.contenteditable { -webkit-appearance: none; }

/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}

@media only screen and (min-width: 800px) {
  /* Style adjustments for viewports 800px and over go here (desktops?) */
}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
  /* Style adjustments for iPhone 4, Opera Mobile 11 and other high pixel ratio devices */
}

/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
