{
    "extends": "airbnb",
    "env": {
        "browser": true,
        "mocha": true,
        "es6": true
    },
    "rules": {
        "no-plusplus": "off",
        "no-cond-assign": "off"
    }
}
