
# http://hacks.mozilla.org/2009/07/cross-site-xmlhttprequest-with-cors/
<IfModule mod_headers.c>
  Header set Access-Control-Allow-Origin "*"
</IfModule>



# allow combining from within js files 
# e.g. <!--#include file="jquery-1.4.2.js" -->
<FilesMatch "\.combined\.js">
        Options +Includes
        SetOutputFilter INCLUDES
</FilesMatch>
<FilesMatch "\.combined\.css">
        Options +Includes
        SetOutputFilter INCLUDES
</FilesMatch>




<Location />
    # Insert filter
    AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/x-javascript text/javascript text/javascript
</Location>


# expires headers

ExpiresActive on
<IfModule mod_cache.c>

  CacheIgnoreHeaders Set-Cookie
  CacheIgnoreCacheControl On
  
    <IfModule mod_disk_cache.c>
        CacheEnable disk /
        CacheDisable /assets
        CacheDisable /downloads
        CacheDisable /flv
        CacheDisable /img
        CacheDisable /fonts
        CacheDisable /include
        CacheDisable /swf
    </IfModule>
</IfModule>

<Location />
    FileETag Size  #can this be moved outside of the Location block?
</Location>

<Location /favicon.ico>
    ExpiresDefault "now plus 1 day"
</Location>

<Location /css>
    ExpiresDefault "now plus 1 hour"
</Location>

<Location /js>
    ExpiresDefault "now plus 1 hour"
</Location>

<Location /img>
    ExpiresDefault "now plus 1 day"
</Location>



# neccessary mimetypes
AddType text/javascript .js

