
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: cornflowerblue;
}

.menu{
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
}
.leftmenu{
  width: 20px;
  line-height: 95px;
  float: left;
  /* border: 2px solid red; */
}
.leftmenu h4{
   padding-left: 75px;
   font-weight: bolder;
   color: seashell;
   font-size: 20px;
}
.rightmenu{
  width: 75%;
  float: right;
  /* border: 2px solid red; */
}
.rightmenu ul li{
  display: inline;
  color: seashell;
  line-height: 100px;
  margin-left: 40px;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
}
.rightmenu ul{
  margin-left: 500px;
  
}
.rightmenu ul li a{
  text-decoration: none;
  color: seashell;
}


.rightmenu ul li a:hover{
  color: sienna;
}
.text{
  margin-top: 200px;
  text-align: center;
  color: white;
}
.text h1{
  margin: 30px;
 
}
.text h3{
  margin-bottom: 20px;
}
.buttonone{
  line-height: 40px;
  margin-right: 30px;
  width: 100px;
  border: 2px solid black;
}
.buttontwo{
  line-height: 40px;
  width: 70px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
}
