body { font:13px/1.231 sans-serif; *font-size:small; } /* hack retained to preserve specificity */
		body, select, input, textarea { 
			/* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */ 
			color: #444; 
			/* set your base font here, to apply evenly 
			/* font-family: Georgia, serif;  */   
		}
		
		/* Headers (h1,h2,etc) have no default font-size or margin,
		 you'll want to define those yourself. */ 
		h1,h2,h3,h4,h5,h6 { font-weight: bold; }
    h1 { font-size: 2em; }
		select, input, textarea, button { font:99% sans-serif; }
		
		/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
		a:hover, a:active { outline: none; }

    .current { background: #ccc; }
    header span { padding: 0.2em 0.5em; display: inline-block; }
    dd, h1, body, html { margin: 0;}
    

		a, a:active, a:visited { color: #607890; }
		a:hover { color: #036; }
		.wrapper {width:200px; border:1px solid red;}
		
		dl {margin:0 auto; width:900px;}
		dt {background-color:#ccc; margin-bottom:20px; cursor:pointer; cursor:hand; padding:5px; font-weight:bold; }
		dd {margin-bottom:30px;}
		
#clear-demo {width:500px; border:1px solid black;}
#clear-demo-l {width:200px; border:1px solid black; float:left;}
#clear-demo-r {width:200px; border:1px solid black; float:right;}
#clear-demo-b {width:200px; border:1px solid black;}

header {text-align:center;}
.show, .hide {color: #607890; cursor:pointer; cursor:hand;}

body {
  padding-bottom: 200px;
}