header {
    display: block;
    height: auto;
    overflow: auto;

    .logo {
        float: left;

        @include bp(480up) {
            float: left;
            margin-right: 40px;
        }

        a {
            display: block;
            max-width: 120px;
            margin-top: 28px;

            img {
                width: 100%;
            }
        }
    }
    nav {
        float: right;

        @include bp(480up) {
            float: left;
        }

        ul {
            margin: 0;
            list-style: none;
            margin-top: 11px;

            li {
                display: inline-block;

                a {
                    display: block;
                    padding: 20px 0px 10px 0px;
                    margin: 0 20px;

                    &:hover {
                        // color: lighten(#000000, 40%);
                        color: $tertiary_color;
                        transition: color .25s ease;
                    }
                }
            }
        }
    }
    .header-cta {
        display: inline-block;
        margin: 0 auto;
        text-align: center;

        @include bp(480up) {
            float: right;
            margin: 20px 0;
        }
    }
}

.page-active {
    border-bottom: 4px solid $tertiary_color;
}
