/* fonts.css from the YUI Library: http://developer.yahoo.com/yui/ */
/* refer to http://developer.yahoo.com/yui/fonts/ for font sizing */

body {
  font: 13px / 1.231 arial, helvetica, sans-serif;
  *font-size: small;
  *font: x-small; }

select,input,button,textarea,button {
  font: 99% arial, helvetica, sans-serif; }

table {
  font-size: inherit;
  font: 100%; }

pre,code,kbd,samp,tt {
  font-family: monospace;
  *font-size: 108%;
  line-height: 100%; }
