@import "reset.scss";

@import "fonts.scss";

@import "base.scss";

/* inline'd print styles avoid required HTTP connection http://www.phpied.com/delay-loading-your-print-css/ */
/* Original Author: Divya Manian */
@media print {
  * {
    background: transparent !important;
    color: #444444 !important;
    text-shadow: none; }
  a, a:visited {
    color: #444444 !important;
    text-decoration: underline; }
  a:after {
    content: " (" attr(href) ")"; }
  abbr:after {
    content: " (" attr(title) ")"; }
  pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid; }
  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2, h3 {
    page-break-after: avoid; } }


@media all and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here */ }


@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */ }


@media screen and (max-device-width: 480px) {
  /* All Capable Mobile Browser (Opera Mobile, iPhone Safari, Android Chrome) CSS goes here */
  html {
    /* Prevent iPhone from adjusting font size */
    -webkit-text-size-adjust: none; } }
