.hero {
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 100px;

    @include bp(820up) {
        padding-bottom: 200px;
    }

    .container {
        position: relative;
    }

    h1 {
        max-width: 75%;
    }
}


// About Section

.about {

    .container {
        position: relative;
    }

    .about-background-pattern {
        position: absolute;
        left: -200px;
        top: 40%;
        width: 250px;
        display: none;

        @include bp(820up) {
            display: block;
        }

        img {
            position: absolute;
            width: 100%;

        }
    }
}

.about-buckets {
    margin: 40px 0 20px 0;

    @include bp(820up) {
        margin: 60px 0 40px 0;
    }

    ul {
        overflow: auto;

        li {
            width: 100%;

            @include bp(600up) {
                width: 48%;
                padding-right: 10px;
                float: left;
            }
        }
    }
}

// Speakers Section

.speakers-section {
    position: relative;
    margin-top: 100px;

    @include bp(820up) {
        margin-top: 140px;
    }

    .background-pattern {
        position: absolute;
        top: 40px;
        left: 0;
        z-index: -2;
        display: block;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            // min-width: 1000px;
        }

    }

    h1 {
        max-width: 600px;
        margin-bottom: 40px;
    }

    .speaker1 {
        margin-top: 40px;

        @include bp(820up) {
            margin-top: 80px;
        }
    }
    .speaker2 {
        margin-top: 40px;

        @include bp(820up) {
            margin-top: 160px;
        }
    }
    .speaker3 {
        margin-top: 40px;

        @include bp(820up) {
            margin-top: 0px;
        }

    }
}

// Startups Section

.startups {
    margin-top: 80px;
    overflow: auto;

    @include bp(820up) {
        margin-top: 140px;
    }

    .startups-content {
        float: left;
        width: 100%;

        @include bp(820up) {
            width: 51%;
        }

    }

    .startups-logos {
        width: 100%;

        @include bp(820up) {
            width: 49%;
            float: right;
        }

        ul {
            display: block;
            padding-left: 0px;

            @include bp(820up) {
                display: flex;
                flex-wrap: wrap;
                align-content: space-between;
                padding-left: 0px;
            }

            li {
                display: inline-block;
                width: 41%;
                margin: 20px 4%;


                @include bp(820up) {
                    width: 30%;
                    margin: 20px 20%;
                    margin-right: 0 !important;
                }

                img {
                    width: 100%;
                }
            }
        }
    }
}

.location-section {
    margin-top: 100px;
    padding-bottom: 400px;
    overflow: hidden;

    @include bp(820up) {
        margin-top: 140px;
    }

    .container {
        position: relative;
    }

    .location-content {
        display: inline-block;
        width: 100%;

        @include bp(820up) {
            width: 40%;
        }
    }

    .location-venue {
        position: relative;
        display: block;
        width: 100%;

        @include bp(820up) {
            position: absolute;
            width: 700px;
            right: -300px;
            top: 0;
        }
        @include bp(980up) {
            width: 800px;
        }


        img {
            width: 100%;
        }
    }
    .location-pattern {
        position: absolute;
        left: 0;
        bottom: -300px;
        width: 500px;
        padding-top: 100px;

        @include bp(820up) {
            position: absolute;
            left: 0;
            bottom: -400px;
            width: 500px;
            padding-top: 100px;
        }

        img {
            width: 100%;
        }
    }
}
