.speakers-hero {
    padding-top: 120px;
    overflow: hidden;

    .container {
        position: relative;
    }

    h1 {
        padding-bottom: 80px;
    }

    .primary-speaker {
        overflow: auto;

        .speaker-image {
            display: block;
            width: 100%;

            @include bp(820up) {
                float: left;
                width: 50%;
            }

            img {
                width: 100%;
            }
        }
        .speaker-content {
            width: 100%;

            @include bp(820up) {
                float: left;
                width: 44%;
                padding-left: 6%;
                padding-top: 20px;
            }

            .smaller-p {
                font-size: 1em;
            }
        }
    }
}

.speaker-content {
    padding-top: 10px;

    @include bp(820up) {
        padding-top: 40px;
    }

    p {
        margin: 0;
    }
    hr {
        width: 60px;
    }
    .smaller-p {
        font-size: .8em;
    }
}

.social {
    padding-top: 20px;

    ul {
        li {
            display: inline-block;
            padding-right: 16px;
            a {
                display: block;
                width: 20px;

                img {
                    width: 100%;
                }
            }
        }
    }
}

.speakers-grid {
    padding: 80px 20px;

    .speaker-boxes {

    }

    .speaker-container {
        margin-bottom: 40px;
    }
}
